<!DOCTYPE html>
<html >
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/plugins/bootstrap-3.3.5-dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/static/css/mystyle.css">
    <link rel="stylesheet" type="text/css" href="/static/css/http.css">
</head>
<body>
    <div class="container">
      <div class="row">
          <div class="col-md-12">
              <table cellspacing="0" cellpadding="0" class="table table-bordered httptable">
                  <thead>
                      <tr>
                          <th width="50">类型</th>
                          <th width="160">HOST</th>
                          <th>URI</th>
                          <th width="160">Referer</th>
                          <th width="190">User-Agent</th>
                          <th width="190">Cookie</th>
                          <th width="170">记录时间</th>
                      </tr>
                  </thead>
                  <tbody></tbody>
              </table>
          </div>
      </div>
    </div>
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/plugins/bootstrap-3.3.5-dist/js/bootstrap.min.js"></script>
    <script src="/static/js/http.js"></script>
</body>
</html>
