<!DOCTYPE html>
<html >
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/plugins/bootstrap-3.3.5-dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/static/css/mystyle.css">
    <link rel="stylesheet" type="text/css" href="/static/css/http.css">
</head>
<body>
    <div class="container">
        <div class="alert alert-danger" role="alert">
            <b>注意：adasd</b>
        </div>
        <div class="row">
            <table cellpadding="0" cellspacing="0">
                <thead>
                    <tr>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/plugins/bootstrap-3.3.5-dist/js/bootstrap.min.js"></script>
    <script src="/static/js/http.js"></script>
</body>
</html>
