<!DOCTYPE html>
<html >
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>欢迎使用流量分析平台</title>
    <link rel="stylesheet" href="/static/plugins/bootstrap-3.3.5-dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/static/css/login.css">
</head>
<body>
<div class="login">
    <h1>流量分析系统</h1>
    <form method="post">
        <input type="text" name="username" placeholder="用户名" required="required" />
        <input type="password" name="password" placeholder="密码" required="required" />
        <div class="vbox"><input type="text" name="authcode" placeholder="验证码" required="required" /></div>
        <button type="button" class="btn btn-primary btn-block btn-large" onclick="login()">登录</button>
    </form>
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/md5.min.js"></script>
    <script src="/static/js/login.js"></script>
</div>
</body>
</html>
