<!DOCTYPE html>
<html >
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/plugins/bootstrap-3.3.5-dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/static/css/mystyle.css">
    <link rel="stylesheet" type="text/css" href="/static/css/systemconfig.css">
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title"><span class="glyphicon glyphicon-send"></span>&nbsp;&nbsp;系统</h3>
                    </div>
                    <div class="panel-body linuxBase">
                        <button type="button" class="btn btn-primary" onclick="systemConfig.createAp()">Create a Fake AP</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/plugins/bootstrap-3.3.5-dist/js/bootstrap.min.js"></script>
    <script src="/static/js/systemconfig.js"></script>
</body>
</html>
